
.navBarContainer {
  width: 100%;
  height: 100px;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 8px 0.1px #626979;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #fff;
  position: fixed;
  z-index: 999;
}

.buttonsHead {
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  span {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    background-image: url("../../assets/seConnecterNoire.svg");
    background-repeat: no-repeat;
    color: #000;
    padding-left: 28px;
  }

  button {
    width: 145px;
    height: 55px;
    border: solid 1px #fb5557;
    color: #fb5557;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
  }
}
