
.mainProfileContainer {
  height: 100%;
  padding: 70px 5vw 0 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .leftSide {
    width: 345px;

    .disconnect  {
      cursor: pointer;
      display: inline-block;
      color: #45b995;
      font-weight: bold;
      font-size: 18px;
      padding: 20px 30px;
    }

    .linkCont {
      cursor: pointer;
      padding: 20px 30px;
      display: flex;
      flex-direction: row;

      img {
        padding-right: 15px;
      }

      span {
        font-weight: bold;
        font-size: 18px;
      }

      &.active {
        background-color: rgba(69, 185, 149, 0.15);
        border-radius: 10px;
      }
    }

  }

  .verticalSeparator {
    width: 2px;
    height: 100vh;
    background-color: #333a50;
    opacity: 0.15;
    margin: 0 40px 0 20px;
  }

  .rightSide {
    width: 70%;
  }
}

@media screen and(max-width: 768px) {
  .mainProfileContainer {
    padding: 30px 2vw 0 2vw;
    .rightSide {
      width: 100%;
    }
    .leftSide{
      width: 100%;
      .linkCont {
        padding: 20px 10px;
      }
      .disconnect {
        padding: 20px 10px;
      }
    }
  }
}
