.ratesContainer {
  max-width: 800px;

  .rateCont {
    margin-bottom: 20px;
    background-color: #f1f5f8;
    border-radius: 20px;
    width: 100%;
    height: 265px;
    display: flex;
    img {
      border-radius: 20px 0 0 20px;
      width: 45%;
      height: 100%;
      object-fit: cover;
    }

    .mainCont {
      width: 55%;
      height: 100%;
      padding: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .cardHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .head {
          display: flex;
          flex-direction: column;
          .title {
            font-weight: bold;
            font-size: 18px;
          }
          .speciality {
            color: #858891;
            font-size: 14px;
          }
        }

        img {
          width: 18px;
          height: 18px;
          object-fit: contain;
          border-radius: unset;
          margin-left: 10px;
        }
      }

      .cardMid{
        .mid{
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;

          .rateTitle {
            span {
              font-weight: bold;
              font-size: 16px;
              margin-right: 10px;
            }
            .date {
              font-size: 14px;
              font-weight: normal;
              color: #858891;
            }
          }
          .rateNumber{
            font-weight: bold;
          }
        }
        .cardDesc {
          font-size: 16px;
          //text-align: justify;
        }

      }
    }
  }
}


.rateModal {
  padding: 28px 40px;
  position: relative;

  button {
    position: absolute;
    background-color: #333a50;
    bottom: 0;
    right: 0;
    width: 100%;
    border-radius: 0 0 20px 20px;
    height: 50px;
  }

  .modalHeader {
    display: flex;
    justify-content: space-between;
    span {
      font-weight: bold;
      font-size: 26px;
    }
  }
  .slider {
    .css-187mznn-MuiSlider-root {
      color: #fb5557 !important;
    }
    .css-eg0mwd-MuiSlider-thumb:hover, .css-eg0mwd-MuiSlider-thumb.Mui-focusVisible {
      box-shadow: 0px 0px 0px 8px rgb(255 54 0 / 16%) !important;
    }
    .note {
      font-weight: bold;
      font-size: 16px;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
  .title {
    margin-bottom: 40px;
    span {
      font-weight: bold;
      font-size: 16px;
      display: inline-block;
    }
  }
  .rate{
    display: flex;
    flex-direction: column;
    span {
      font-weight: bold;
      font-size: 16px;
      display: inline-block;
    }
    textarea {
      resize: none;
      border: unset;
      background-color: #f1f5f8;
      padding: 10px;
      border-radius: 10px;
    }
  }

}

