
.banner {
  text-align: center;
  width: 100%;
  height: 250px;
  background-image: url("../../assets/banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: calc(20px + 1vw);
}

.markets {
  .marketTabsContainer {
    position: relative;
    margin: 10px 5vw;
    .tabs {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 60px;

      button {
        width: fit-content;
        height: 45px;
        background-color: #45b995;
        padding: 0 25px;
      }


      .cont {
        .tab {
          cursor: pointer;
          display: inline-block;
          font-size: 22px;
          font-weight: normal;
          transition: .5s ease-in-out;
          text-align: center;
          width: 50%;
        }

        .active {
          font-size: 22px;
          font-weight: bold;
        }
      }
    }

    .underline {
      height: 2px;
      width: 50%;
      margin: 0;

      background: #333a50;
      border: none;
      transition: .3s ease-in-out;
    }

    .horizontalSeparator {
      margin: unset;
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }

  .paginationAndMapContainer {
    padding: 0 0 0 5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .mapCard {
      width: 100%;
      height: 100%;
      min-height: 500px;
      border: 2px solid #e6e6e6;
      border-radius: 20px 0 0 20px;
    }
  }
}

.profile {
  font-weight: bold;
  font-size: 20px;
  padding-left: 25px;
  background-image: url("../../assets/seConnecterNoire.svg");
  background-repeat: no-repeat;
}
@media screen and(max-width: 1023px) {
  .markets {
    .paginationAndMapContainer {
      padding: 0 5vw;
    }
    .paginationAndMapContainer {
      .mapCard {
        border-radius: 20px;
        height: calc(70vw);
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .markets {
    .marketTabsContainer {
      .tabs {
        .cont {
          .tab {
            width: 50%;
          }
        }
      }
      .underline {
        width: 50%;
      }
    }
  }
}
