.sliderElement {
  .sliderImage {
    max-height: 200px;
    .cardImage {
      max-width: 300px;
      object-fit: cover;
      width: 100%;
      border-radius: 11px;
      height: 100%;
    }
  }

  .sliderDetail {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .detail {
      display: flex;
      flex-direction: column;

      .name {
        font-weight: bold;
        font-size: 18px;
      }

      .price {
        font-size: 16px;
      }

      .speciality {
        color: #858891;
        font-size: 14px;
      }

      .reduction {
        color: #fb5557;
        font-size: 14px;
        font-weight: bold;
        padding-top: 10px;
      }
    }

    .rating {
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.gm-style .gm-style-iw-c {
 border-radius: 15px !important;
  padding: unset !important;

  .gm-ui-hover-effect {
    display: none !important;
  }

}

.gm-style .gm-style-iw-d {
  overflow: unset !important;
  max-height: unset !important;
}
