
.sliderContainer {
  width: 100%;
  padding: 0 5vw;

  .sliderHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    .sliderName {
      font-weight: bold;
      font-size: 26px;
    }

    .sliderActions {
      display: flex;
      align-items: center;

      span {
        font-weight: bold;
        font-size: 16px;
      }

      .arrowsContainer {
        img {
          cursor: pointer;
        }
      }
    }

  }

  .sliders {
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
    grid-gap: 1%;


  }

  .sliderElement {
    .sliderImage {
      position: relative;

      .cardImage {
        object-fit: cover;
        width: 100%;
        border-radius: 11px;
      }

      .heart {
        position: absolute;
        bottom: 10%;
        right: 5%;
      }
    }

    .sliderDetail {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;

      .detail {
        display: flex;
        flex-direction: column;

        .name {
          font-weight: bold;
          font-size: 18px;
        }

        .price {
          font-size: 16px;
        }

        .speciality {
          color: #858891;
          font-size: 14px;
        }
      }

      .rating {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }

  .simpleSliderElement {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .cardImage {
      width: 100%;
      object-fit: cover;
      border-radius: 40px;
    }
    label {
      padding-top: 12px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.react-multi-carousel-item {
  padding: 0 10px;
}
