
.hintsCont {
  display: flex;
  flex-direction: column;
  .title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
  }
  .hint {
    font-size: 18px;
    margin-bottom: 24px;
  }
}
.advancedInputCont {
  height: 100px;
  width: 100%;
  position: relative;
  background-color: #f1f5f8;
  padding: 24px 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;

  .phone {
    font-weight: normal;
  }
  span {
    font-weight: bold;
    font-size: 16px;
  }
  input {
    height: 100px !important;
  }
  button {
    border: solid 2px #333a50 !important;
    background-color: #fff ;
    color: #333a50;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px !important;
    height: unset;
  }
}
