.modalReservationContainer {
  position: relative;
  //height: 400px;

  .cont {
    padding: 20px 40px 0 40px;

    .modalHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 15px;

      span {
        font-weight: bold;
        font-size: 26px;
      }
    }

    .horizontalSeparator {
      margin: 20px 0;
    }

    .stepsContainer {
      width: 100%;

      .step {
        margin: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .calendar {

        }
        .scrollCont {
          padding: 36px;
          height: 300px;
          width: 419px;
          border: dashed 1px rgba(251, 85, 87, 0.3);
          border-radius: 40px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          &.noBorder {
            border: unset;
            padding: unset;
          }
          .selectCont {
            display: flex;
            align-items: center;
            cursor: pointer;
            span {
              font-weight: bold;
              font-size: 18px;
              padding-right: 10px;
            }

          }
          .cont {
            &.gray{
              background-color: #f1f5f8;
            }
            cursor: pointer;
            min-height: 120px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border: dashed 1px rgba(251, 85, 87, 0.3);
            border-radius: 40px;
            .title {
              font-weight: bold;
              font-size: 17px;
              &.orange {
                color: #fb5557;
              }
            }
          }
        }

      }

      .headerSteps {
        position: relative;

        .iconsContainer {
          margin-bottom: 15px;
          display: flex;

          .iconCont:last-child {
            border: unset;
          }

          .iconCont {
            width: 25%;
            //text-align: center;
            border-right: 1px solid rgba(251, 85, 87, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;

            .valueSelectedTab{
              font-weight: bold;
              font-size: 16px;
              text-align: center;
              display: inline-block;
              //width: 156px;
              color: #fb5557;
              //border-right: 1px solid rgba(251, 85, 87, 0.3);
            }
          }
        }

        .underline {
          width: 25%;
          height: 5px;
          background-color: #fb5557;
          border-radius: 10px;
          transition: .5s ease-in-out;
        }

        .underlineStatic {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 5px;
          background-color: rgba(251, 85, 87, 0.3);
          border-radius: 10px;
        }

      }
    }
  }

  .ModalButton {
    width: 100%;
    height: 50px;
    background-color: #333a50;
    bottom: 0;
    position: absolute;
    border-radius: 0 0 35px 35px;
  }
}


.calendarPicker {
  max-height: 420px !important;
  margin: 0 auto;
  border: dashed 1px rgba(251, 85, 87, 0.3);
  border-radius: 40px;

  div[role=presentation] {
    font-size: 18px !important;
    font-weight: bold !important;
  }

  div[role=cell] {
    .Mui-selected{
      background-color: #fb5557 !important;
    }
    button {
      border-radius: 10px !important;
      font-size: 14px !important;
      font-weight: bold !important;
    }
    span {
      border-radius: 10px !important;
    }
  }
}

@media screen and(max-width: 720px) {
  .modalReservationContainer {
    .cont {
      padding: 0 10px;
      .modalHeader {
        span {
          font-size: 22px;
        }
        img {
          display: none;
        }
      }
    }

    .ModalButton {
      border-radius: unset;
    }
  }
}
