

.rightCompCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  span {
    padding-right: 30px;
    color: #fb5557;
    font-size: 20px;
    font-weight: bold;
  }

  button {
    font-size: 20px;
    font-weight: bold;
    width: 155px !important;
    height: 55px !important;
    border: solid 1px #999da8  !important;
    background-color: #fff !important;
    color: #000 !important;

  }
}

@media screen and(max-width: 720px) {
  .rightCompCont {
    span {
      font-size: calc(0.5vw + 14px);
      padding: unset;
    }
  }
}
