
button {
  height: 60px;
  width: 100%;
  font-size: 22px;
  text-align: center;
  border: unset;
  color: #fff;
  background-color: #b0b3bc;
  border-radius: 10px;
  cursor: pointer;

  &.success {
    background-color: #333a50;
  }
}
