
.separator {
  padding: 44px 0;

  h5 {
    text-align: center;
    border-bottom: 1px solid #e7e3e3;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }

  h5 span {
    background: #fff;
    padding: 0 20px;
  }
}

.socialMediaContained {

  .socialMedia {
    padding: 0 0 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .iconTextCont {
      display: flex;
    }

    .arrow {
      width: 7px;
      height: 12px;
      object-fit: contain;
    }
  }

}
