
.bannerContainer {
  width: 100%;
  height: calc(0.390625 * 100vw);
  background-image: url('../../../../assets/banner.svg');
  background-repeat: no-repeat;
  background-size: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .searchLabel {
    font-size: calc(20px + 1.5vw);
    font-weight: bold;
  }

  .searchInput {
    margin-top: 30px;
    width: 55%;
    position: relative;

    input {
      padding: 15px 70px !important;
      height: 65px !important;
    }

    .searchGlass {
      position: absolute;
      top: 17px;
      left: 20px;
    }

    .searchArrow {
      position: absolute;
      top: 0;
      right: 0;
      padding: 22.5px 20px 22.5px 0;

    }
  }
}
