.emptyMessageContainer {
  margin: 50px auto;
  width: 100%;
  height: 450px;
  max-width: 500px;
  background-image: url("../../assets/empty.svg");
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title  {
    font-weight: bold;
    font-size: 20px;
  }

  span {
    font-size: 16px;
  }
}


@media screen and(max-width: 768px) {
  .emptyMessageContainer {
    //height: calc(0.9 * 100vw);
  }
}
